<nav class="navbar">
  <div class="container-fluid">
    <div class='navbar-header'>
      <a class='navbar-brand' [routerLink]='["/"]'>Blowaud.com <br/><p>Blockchain Wallets Audit</p></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/sign-in"]'>
          <span class="glyphicon glyphicon-user"></span> Sign In
        </a>
      </li>
      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/log-in"]'>
          <span class="glyphicon glyphicon-log-in"></span> Log In
        </a>
      </li>
    </ul>
  </div>
  <hr/>
</nav>
