<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table *ngIf="requested" class="table table-striped">
      <thead>
      <tr>
        <th scope="col"> <a href (click)="sortTable('account')">Wallets</a> </th>
        <th scope="col"> <a href (click)="sortTable('contract')">Smart Contracts</a> </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let entry of watchList">
        <td class="tableRow">{{ entry.account.address }} <span *ngIf="entry.account.isNotificated" class="dot"></span></td>
        <td class="tableRow">{{ entry.contract.address }} <span *ngIf="entry.contract.isNotificated" class="dot"></span></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


