
<div *ngIf="showNotWind" class="notificationWindow container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-offset-8">
      <div class="closeDiv">
        <span (click)="closeNotificationWindow()" class="glyphicon glyphicon-remove"></span>
      </div>
    </div>
  </div>
  <div class="row text-center">

    <div class="col-md-4 col-md-offset-4">
      <h4>Notifications</h4>
    </div>

  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <form>

        <div class="form-check">
          <input #withNotification class="form-check-input notificationInput" checked="true" type="checkbox" (change)="withNotifications()">
          Without notifications
        </div>

        <div class="form-check">
          <input #whenNumberOfTokenSent (change)="whenNumberOfTokenSentFunc()" class="form-check-input notificationInput" type="checkbox" [disabled]=!isWithNotifications>
          When
          <input #whenNumberOfTokenSentValue placeholder="number" class="notificationSmallInput form-check-input" [disabled]=!isWithNotifications||!isNumberOfTokenSent>
          was sent
        </div>

        <div class="form-check">
          <input #whenNumberOfTokenReceived (change)="whenNumberOfTokenReceivedFunc()" class="form-check-input notificationInput" type="checkbox" [disabled]=!isWithNotifications>
          When
          <input #whenNumberOfTokenReceivedValue placeholder="number" class="notificationSmallInput form-check-input" [disabled]=!isWithNotifications||!isNumberOfTokenReceived>
          were received by <br />
          <input #whenNumberOfTokenReceivedAddress placeholder="wallet or smart contract address" class="notificationBigInput form-check-input" [disabled]=!isWithNotifications||!isNumberOfTokenReceived>
        </div>

        <div class="form-group">
          <button (click)="setNotification(withNotification,whenNumberOfTokenSent,whenNumberOfTokenReceived,whenNumberOfTokenSentValue,
                  whenNumberOfTokenReceivedValue,whenNumberOfTokenReceivedAddress)"
                  type="submit" [disabled]="isRequesting" class="notificationButton btn btn-primary">
            Submit
          </button>
        </div>

      </form>
    </div>
  </div>

</div>

<div *ngIf="errors" class="alert alert-danger" role="alert">
  Opps, some error occurred. Try again
</div>

<div *ngIf="!infoRequesting||!transactionRequesting" class="row">
  <app-spinner></app-spinner>
</div>

<div *ngIf="infoRequesting" class="row">
  <div class="col-sm-4">
    <div class="divInfo">
      <h4 class="addressString">Smart Contract Address <span (click)="showNotificationWindow()" class="addStar glyphicon glyphicon-star-empty"></span></h4>
      <div>
        <p>Name</p>
        <p class="info">{{smartContractInfo.name}} ({{smartContractInfo.symbol}})</p>
      </div>
      <div>
        <p>Created</p>
        <p class="info">{{smartContractInfo.createdDate | date : 'shortDate'}}</p>
      </div>
      <div>
        <p>Quantity</p>
        <p class="info">{{smartContractInfo.quantity | number : '1.2-10'}}</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-sm-offset-4 rightSideBlock">
    <div class="divInfo">
      <h5>{{searchString}}</h5>
      <div>
        <p>Wallets</p>
        <p class="info">{{smartContractInfo.walletsCount}}</p>
      </div>
      <div>
        <p>Transactions</p>
        <p class="info">{{smartContractInfo.transactionsCount}}</p>
      </div>
      <div>
        <a target="_blank" href="{{smartContractInfo.webSiteLink}}">{{smartContractInfo.webSiteLink}}</a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isWalletsOpen" novalidate class="row">
  <div class="col-md-12">
    <h3>Sort by date, time</h3>

    <form class="form-inline" #myForm="ngForm" (ngSubmit)="sortByDateTime(myForm)">
      <div class="form-group">
        <label for="dateFrom">From:</label>
        <input placeholder="date" class="form-control" name="dateFrom" ngModel required>
        <input placeholder="time" class="form-control" name="timeFrom" ngModel required>
      </div>
      <div class="form-group">
        <label for="dateTo">To:</label>
        <input placeholder="date" class="form-control" name="dateTo" ngModel required>
        <input placeholder="time" class="form-control" name="timeTo" ngModel required>
      </div>
      <button [disabled]="myForm.invalid" type="submit" class="btn btn-default">Sort</button>
    </form>
  </div>
</div>

<div *ngIf="transactionRequesting" class="row tabsRow">
  <ul class="nav nav-tabs">
    <li [ngClass]="transactionTabClass" class="tab" (click)="SwitchToTransactions()"><a>Transactions</a></li>
    <li [ngClass]="walletsTabClass" class="tab" (click)="SwitchToWallets()"><a>Wallets</a></li>
  </ul>
</div>

<div *ngIf="transactionRequesting && isTransactionsOpen" class="row tableRow">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">TxHash</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Quantity</th>
        <th scope="col">Date/Time</th>
        <th scope="col">Success</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trans of transactionsModel.transactions">
        <th title="{{trans.hash}}">{{trans.hash | slice : 0:20}}...</th>
        <td title="{{trans.from}}">
          <a [routerLink]='["/search",trans.from]'>
            {{trans.from | slice : 0:20}}...
          </a>
        </td>
        <td title="{{trans.to}}">
          <a [routerLink]='["/search",trans.to]'>
            {{trans.to | slice : 0:20}}...
          </a>
        </td>
        <td title="{{trans.decimalValue}}">{{trans.decimalValue | number : '1.2-5'}}</td>
        <td title="{{trans.date }}">{{trans.date | date : 'short' }}</td>
        <td title="{{trans.isSuccess}}">{{trans.isSuccess}}</td>
      </tr>
    </tbody>
  </table>
  <div class="col-md-12 text-center">
    <div *ngIf="moreTransactionRequesting" class="row">
      <app-spinner></app-spinner>
    </div>
    <button (click)="loadTransaction(transactionsModel.blockNumber)" class="btn btn-primary">More</button>
  </div>
</div>

<div *ngIf="transactionRequesting && isWalletsOpen" class="row tableRow">
  <table class="table table-striped">
    <thead>
    <tr>
      <th rowspan="2" scope="col"><p class="walletsTableTh">Wallet <br /> Address </p> </th>
      <th rowspan="2" scope="col"><p class="walletsTableTh">Quantity</p></th>
      <th rowspan="2" scope="col"><p class="walletsTableTh">Tokens Sent</p></th>
      <th rowspan="2" scope="col"><p class="walletsTableTh">Tokens Received</p></th>
      <th colspan="3" scope="col">Transactions Number</th>
    </tr>
    <tr>
      <th scope="col">General</th>
      <th scope="col">Sent</th>
      <th scope="col">Received</th>
    </tr>
    </thead>
    <tbody>
      <!--<tr *ngFor="let trans of transactionsModel.transactions">
        <th title="{{trans.hash}}">{{trans.hash | slice : 0:20}}...</th>
        <td title="{{trans.from}}">
          <a [routerLink]='["/search",trans.from]'>
            {{trans.from | slice : 0:20}}...
          </a>
        </td>
        <td title="{{trans.to}}">
          <a [routerLink]='["/search",trans.to]'>
            {{trans.to | slice : 0:20}}...
          </a>
        </td>
        <td title="{{trans.decimalValue}}">{{trans.decimalValue | number : '1.2-5'}}</td>
        <td title="{{trans.date }}">{{trans.date | date : 'short' }}</td>
        <td title="{{trans.isSuccess}}">{{trans.isSuccess}}</td>
      </tr>-->
    </tbody>
  </table>
  <div class="col-md-12 text-center">
    <div *ngIf="moreTransactionRequesting" class="row">
      <app-spinner></app-spinner>
    </div>
    <button (click)="loadTransaction(transactionsModel.blockNumber)" class="btn btn-primary">More</button>
  </div>
</div>

