<div *ngIf="!infoRequesting" class="row">
  <app-spinner></app-spinner>
</div>
<div *ngIf="infoRequesting" class="row">
  <div class="col-sm-4">
    <h4>Wallet Address <span class="addStar glyphicon glyphicon-star-empty"></span></h4>
    <p>{{searchString}}</p>
  </div>

  <div class="col-sm-3 col-sm-offset-4">
    <h5>ETH : {{walletInfo.balance | number : '1.2-10'}} </h5>

    <div class="dropdown">
      <button class="dropdownBtn btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Tokens &nbsp;
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li *ngFor="let token of walletInfo.tokens" class="dropdown-item">
          <p class="tokenSymbol">{{token.symbol}}</p> <p class="tokenBalanceText">{{token.balance | number : '1.2-2'}}</p>
        </li>
      </ul>
    </div>

  </div>
</div>

<div class="row tableRow">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">TxHash</th>
      <th scope="col">From</th>
      <th scope="col">To</th>
      <th scope="col">What</th>
      <th scope="col">Quantity</th>
      <th scope="col">Date/Time</th>
      <th scope="col">Success</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let trans of transactions" >
      <th title="{{trans.hash}}">{{trans.hash | slice : 0:20}}...</th>
      <td title="{{trans.from}}">{{trans.from | slice : 0:20}}...</td>
      <td title="{{trans.to}}">{{trans.to | slice : 0:20}}...</td>
      <td title="{{trans.what}}">{{trans.what}}</td>
      <td title="{{trans.decimalValue}}">{{trans.decimalValue | number : '1.2-5'}}</td>
      <td title="{{trans.date }}">{{trans.date | date : 'short' }}</td>
      <td title="{{trans.isSuccess}}" >{{trans.isSuccess}}</td>
    </tr>
    </tbody>
  </table>
</div>
